/* Written by Ye Liu */

#bb-body {
    position: absolute;
    left: 5rem;
}

@media (min-height:1367px) {
    #bb-body {
        top: 105vh;
    }
}

@media (min-height:700px) and (max-height:1366px) {
    #bb-body {
        top: 100vh;
    }
}

@media (min-height:550px) and (max-height:699px) {
    #bb-body {
        top: 95vh;
    }
}

@media (min-height:350px) and (max-height:549px) {
    #bb-body {
        top: 160vh;
    }
}

@media (max-width:767px) and (max-height:349px) {
    #bb-body {
        top: 200vh;
    }
}

#bb8 {
    display: inline-block;
    position: absolute;
    left: 0;
}

.antennaes {
    position: relative;
    left: -20px;
    transition: left 0.5s ease-out;
}

.antennaes .antennae-1 {
    background-color: #C0BBBB;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    height: 25px;
    width: 4px;
}

.antennaes .antennae-2 {
    background-color: #C0BBBB;
    display: block;
    margin: auto;
    position: relative;
    left: 20px;
    top: 5px;
    height: 35px;
    width: 2px;
}

.antennaes.left {
    left: 12px;
}

.head {
    position: relative;
    display: block;
    margin: auto;
    background-color: #eceff4;
    border-radius: 135px 135px 0px 0px;
    height: 84px;
    width: 135px;
    overflow: hidden;
    z-index: 70;
}

.head .grey-line {
    background-color: #C0BBBB;
    height: 10px;
    margin-top: 8px;
}

.head .orange-line {
    background-color: #ED783B;
    height: 8px;
    margin-top: 10px;
}

.head .outer-eye {
    background-color: #4B4B4B;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 90px;
    border: 4px solid #eceff4;
    transition: left 0.5s ease-out;
}

.head .outer-eye.left {
    left: 45px;
}

.head .inner-eye {
    background-color: #393939;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head .glimmer-1 {
    background-color: #B6B6B6;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 24px;
    z-index: 100;
}

.head .glimmer-2 {
    background-color: #B6B6B6;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 16px;
    z-index: 100;
}

.head .bulls-eye {
    background-color: #eceff4;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 110px;
    border: 3px solid #393939;
    transition: left 0.5s ease-out;
}

.head .bulls-eye.left {
    left: 65px;
}

.head .bulls-eye-inner {
    background-color: #393939;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head .bottom {
    position: absolute;
    bottom: 0;
    background-color: #C0BBBB;
    height: 8px;
    width: 135px;
    z-index: 100;
}

.body {
    position: relative;
    top: -10px;
    display: block;
    margin: auto;
    background-color: #eceff4;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
}

.body-shadow {
    background-color: #bbbbbb;
    display: block;
    margin: auto;
    position: relative;
    top: -25px;
    width: 180px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(50% 40%, #555555, transparent);
}

.orange-ring, .orange-ring-1, .orange-ring-2, .orange-ring-3, .orange-ring-4 {
    background-color: #eceff4;
    border-color: #ED783B;
    border-style: solid;
    border-radius: 50%;
    z-index: 50;
}

.orange-ring-1 {
    height: 90px;
    width: 70px;
    border-left-width: 15px;
    border-right-width: 9px;
    border-top-width: 13px;
    border-bottom-width: 13px;
    position: relative;
    left: 100px;
    top: 40px;
}

.orange-ring-2 {
    transform: rotateZ(-2deg);
    height: 80px;
    width: 30px;
    border-left-width: 8px;
    border-right-width: 13px;
    border-top-width: 13px;
    border-bottom-width: 13px;
    position: absolute;
    left: -8px;
    top: 60px;
}

.orange-ring-3 {
    transform: rotateZ(-2deg);
    height: 30px;
    width: 150px;
    border-left-width: 11px;
    border-right-width: 11px;
    border-top-width: 13px;
    border-bottom-width: 13px;
    position: absolute;
    bottom: -30px;
    left: 50px;
}

.orange-ring-4 {
    transform: rotateZ(-10deg);
    height: 20px;
    width: 150px;
    border-left-width: 11px;
    border-right-width: 11px;
    border-top-width: 13px;
    border-bottom-width: 13px;
    position: absolute;
    top: -30px;
    left: 50px;
}

.grey-ring, .grey-ring-1, .grey-ring-2, .grey-ring-3 {
    background: transparent;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #888895;
    transform: rotateZ(-10deg);
}

.grey-ring-1 {
    width: 400px;
    height: 110px;
    top: -10px;
    left: -100px;
}

.grey-ring-2 {
    top: -20px;
    left: -5px;
    width: 150px;
    height: 250px;
}

.grey-ring-3 {
    top: 0;
    left: 5px;
    width: 210px;
    height: 210px;
}

.rivet, .rivet-1, .rivet-2, .rivet-3, .rivet-4 {
    background-color: #888895;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.rivet-1 {
    left: 65px;
    top: 80px;
}

.rivet-2 {
    left: 75px;
    top: 135px;
}

.rivet-3 {
    left: 195px;
    top: 50px;
}

.rivet-4 {
    left: 207px;
    top: 110px;
}

@media(max-width:400px) {
    #bb-body {
        position: absolute;
        left: 0;
        right: 0;
    }
    #bb8 {
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 3rem;
    }
}