/* Written by Ye Liu */

#cube-container {
    display: block;
    width: 200px;
    height: 200px;
    padding-bottom: 0;
    text-align: center;
    overflow: hidden;
    margin: auto;
    -webkit-perspective: 40000px;
    -moz-perspective: 40000px;
    perspective: 40000px;
}

.cube, .half1, .half2, .container, .side {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cube {
    margin: auto;
    position: absolute;
    top: -0.2rem;
    bottom: 0;
    left: -5rem;
    right: 0;
    display: block;
    width: 350px;
    height: 350px;
    -webkit-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-animation: cube 5s forwards infinite;
    -moz-animation: cube 5s forwards infinite;
    animation: cube 5s forwards infinite;
    -webkit-animation-timing-function: cubic-bezier(.97, 1, .66, .9);
    -moz-animation-timing-function: cubic-bezier(.97, 1, .66, .9);
    animation-timing-function: cubic-bezier(.97, 1, .66, .9);
}

.half1 {
    height: 100px;
    top: 0;
    position: absolute;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.side {
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    background: 0 0;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}

.s1 {
    top: 30px;
    left: 140px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.s2 {
    top: 100px;
    left: 140px;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.s3 {
    top: 170px;
    left: 140px;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.s4 {
    top: 240px;
    left: 140px;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.s5 {
    left: 70px;
    top: 100px;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.s6 {
    left: 210px;
    top: 170px;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

@-webkit-keyframes cube {
    0% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
    12.5% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
    25% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    }
    37.5% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    }
    50% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    }
    62.5% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    }
    75% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    }
    87.5% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    }
    100% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
}

@-moz-keyframes cube {
    0% {
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
    12.5% {
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
    25% {
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    }
    37.5% {
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    }
    50% {
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    }
    62.5% {
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    }
    75% {
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    }
    87.5% {
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    }
    100% {
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
}

@keyframes cube {
    0% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
    12.5% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
    25% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    }
    37.5% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
        transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    }
    50% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    }
    62.5% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
        transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    }
    75% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    }
    87.5% {
        -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
        transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    }
    100% {
        -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
        transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    }
}