/* Written by Ye Liu */

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 400 16px/1.5 'Poppins', sans-serif;
    color: #242832;
    background-color: #eceff4;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
}

body, h1, h4, p, ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

li>ul {
    margin-bottom: 0;
}

h1, h4 {
    font-weight: 400;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

a:hover {
    color: #242832;
    text-decoration: underline;
}

header {
    font-family: 'Poppins', sans-serif;
    color: #f7f7f7;
    text-align: center;
    width: 100%;
    height: 100%;
}

header h1 {
    max-width: 400px;
    text-align: center;
    font-weight: 800;
    line-height: 2.1rem;
}

header a, header a:visited {
    text-decoration: none;
    color: #00d1b2;
}

header a:active, header a:hover {
    color: #f7f7f7;
    text-decoration: underline;
    text-decoration-color: #00d1b2;
}

#flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

@media (max-height:550px) {
    #flex-container {
        height: 640px;
    }
}

.info {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    font-weight: 350;
    text-align: center;
    margin: 0 auto;
}

@media (min-width:600px) {
    .info {
        font-size: 1.6rem;
    }
    header h1 {
        max-width: 600px;
        line-height: 2.6rem;
    }
}

.intro {
    margin-bottom: 2rem;
}

.links {
    margin-top: 3rem;
    word-spacing: 2vw;
}

.arrow {
    position: relative;
    margin: auto;
    height: 40px;
    width: 40px;
    animation: bounce 1s ease-in-out infinite;
    -webkit-animation: bounce 1s ease-in-out infinite;
}

.hint {
    height: 3.8rem;
    width: 28rem;
    transform: rotate(9deg);
    box-shadow: inset 0 -7px 0 #ffdd57;
    -webkit-box-shadow: inset 0 -7px 0 #ffdd57;
}

@media (min-width:1441px) {
    header {
        background: linear-gradient(9deg, #eceff4 406px, #242832 0);
    }
    .hint {
        margin: 17rem auto 22rem;
    }
}

@media (max-width:1440px) {
    header {
        background: linear-gradient(9deg, #eceff4 230px, #242832 0);
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    .hint {
        margin: 15rem auto 13rem;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .hint {
        margin: 10rem auto 15rem;
    }
}

@media (max-width:767px) {
    .hint {
        opacity: 0;
        transform: none;
        margin: auto auto 23rem;
    }
}

#intro {
    background: linear-gradient(-9deg, white 406px, #eceff4 0);
    padding-bottom: 456px;
}

#intro .column {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#intro h1 {
    width: 190px;
    margin: 0 auto 45px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 35px;
    -webkit-box-shadow: inset 0 -10px 0 #ff557c;
    box-shadow: inset 0 -10px 0 #ff557c;
}

#intro p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 23px;
    line-height: 2;
    color: #242832;
    text-align: center;
    letter-spacing: 1.5px;
}

#intro img {
    position: relative;
    bottom: 2.5px;
    margin: 0 2px;
    width: 20px;
    height: 23px;
}

@media(max-width:768px) {
    #intro h1 {
        width: 140px;
        font-size: 26px;
        line-height: 27px;
    }
    #intro p {
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 1.8;
        margin: 0 30px 20px;
    }
}

.quote {
    margin-top: 30px !important;
}

#projects {
    padding-bottom: 20%;
    background-color: white;
}

#projects h1 {
    width: 175px;
    margin: 0 auto 70px;
    text-align: center;
    font-size: 36px;
    line-height: 67px;
    font-weight: 700;
    line-height: 35px;
    -webkit-box-shadow: inset 0 -10px 0 #20aaff;
    box-shadow: inset 0 -10px 0 #20aaff;
}

#projects .project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0 12.5%;
}

#projects .project-item {
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0 1.5rem;
    width: 33.3%;
    min-width: 300px;
    max-width: 400px;
    flex: 1 1 300px;
}

#projects .project-item a {
    display: block;
    color: #242832;
    text-decoration: none;
    transition: color .25s;
}

#projects .thumbnail {
    padding-bottom: 10px;
    transition: all 0.25s ease;
}

#projects .thumbnail img {
    width: 28rem;
    border-radius: 5px;
}

#projects .thumbnail:hover {
    transform: translateY(-0.5rem);
}

#projects .thumbnail-title {
    font-family: proxima nova condensed, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.22px;
    margin: 10px -10px 20px;
}

@media(min-width:1980px) {
    #projects {
        margin-top: 0;
        padding-bottom: 10%;
    }
}

@media (min-width:1280px) and (max-width:1979px) {
    #projects {
        margin-top: -5rem;
    }
}

@media (min-width:650px) and (max-width:1279px) {
    #projects {
        margin-top: -13rem;
    }
}

@media(max-width:649px) {
    #projects {
        margin-top: -18rem;
    }
    #projects .thumbnail-title {
        font-size: 20px;
    }
}

@media(max-width:768px) {
    #projects h1 {
        width: 130px;
        font-size: 26px;
        line-height: 27px;
    }
}

#site-footer {
    background-color: #01abf7;
    text-align: center;
    position: relative;
    z-index: 1;
}

#site-footer .globe-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -7%;
    left: 0;
    right: 0;
    margin: auto;
}

#site-footer:before {
    background: inherit;
    content: '';
    display: block;
    height: 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    transform: skewY(7deg);
    transform-origin: 100% 0;
}

#site-footer .title {
    position: absolute;
    top: 18%;
    width: 100%;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: -1px;
    word-spacing: -2px;
}

#site-footer a {
    color: #1c1c1c;
    text-decoration: underline;
}

#site-footer .love-red {
    position: relative;
    bottom: 2px;
    margin: 0 2px;
    width: 26px;
    height: 26px;
}

#site-footer .statement {
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    color: #1c1c1c;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

#site-footer .statement p {
    display: inline;
}

#social {
    position: absolute;
    top: 40%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#social li {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0;
    border-radius: 10px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}

#social li a {
    display: block;
    width: 120px;
    height: 69px;
    text-indent: -9999px;
    border: none;
    text-decoration: none;
    margin-top: 5px;
}

#social li p {
    display: block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

#social li:hover {
    background-color: #eceff4;
}

#social li:hover a {
    background: 0 0 !important;
    text-indent: 0;
}

#social li:hover img {
    display: block;
    margin: auto;
    width: 35px;
    height: 35px;
}

#social li.link-github a {
    background: url('../assets/github.svg') no-repeat center 0;
    background-size: 35px;
    color: #666666 !important;
}

#social li.link-linkedin a {
    background: url('../assets/linkedin.svg') no-repeat center 0;
    background-size: 35px;
    color: #0976b4 !important;
}

#social li.link-instagram a {
    background: url('../assets/instagram.svg') no-repeat center 0;
    background-size: 35px;
    color: #d4237a !important;
}

#social li.link-facebook a {
    background: url('../assets/facebook.svg') no-repeat center 0;
    background-size: 35px;
    color: #3b5998 !important;
}

#social li.link-mail a {
    background: url('../assets/mail.svg') no-repeat center 0;
    background-size: 35px;
    color: #dd4951 !important;
}

@media(max-width:1365px) {
    #site-footer:before {
        height: 50%;
        transform: skewY(6deg);
    }
}

@media(max-width:766px) {
    #site-footer .title {
        top: 18%;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.1px;
    }
    #site-footer .love-red {
        position: relative;
        bottom: 2px;
        margin: 0 2px;
        width: 19px;
        height: 19px;
    }
    #social {
        top: 47%;
    }
    #social li {
        padding: 5px;
    }
    #social li a {
        width: 45px;
        height: 45px;
        margin-top: 0;
        background-size: 25px !important;
    }
    #social li p {
        position: relative;
        right: 7px;
        width: 60px;
        line-height: 20px;
        font-size: 12px;
    }
    #social li:hover img {
        height: 25px !important;
        margin-bottom: 5px;
    }
    #site-footer .statement {
        bottom: 4px;
        font-size: 8px;
        font-weight: 400;
        letter-spacing: -0.1px;
    }
    #site-footer .copyright {
        display: none !important;
    }
    .footer-img {
        overflow: hidden;
    }
    .footer-img img {
        width: 1000px;
        max-width: 150%;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: 5px;
    }
    100% {
        top: 0;
    }
}

@keyframes move-title {
    from {
        top: 18%;
    }
    to {
        top: 32%;
    }
}

@keyframes move-social {
    from {
        top: 40%;
    }
    to {
        top: 46%;
    }
}